# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

dist/*.css
dist/*.gif
dist/*.ttf
dist/*.txt
dist/*.jpg
dist/*.png
dist/*.js
dist/*.svg
dist/*.webmanifest
dist/*.html

dist/3d0efe333291d590db22.css
dist/c1f638c5f41ca8d85216.css
dist/F1PaintShop.html
dist/main.js
dist/F1PaintShop.html
dist/F1PaintShop.html
dist/main.js
dist/main.js
dist/F1PaintShop.html
dist/F1PaintShop.html
dist/main.js
dist/F1PaintShop.html
dist/main.js
dist/F1PaintShop.html
dist/main.js
