/* @media screen and (max-width: 767px) {
	body {
	  orientation: portrait;
	  -webkit-user-orientation: portrait;
	  -moz-user-orientation: portrait;
	  -ms-user-orientation: portrait;
	  user-orientation: portrait;
	}
	#pleaserotateblock {
		display:block;
	}
  } */
  
@media (orientation: landscape) {
	/* Styles for landscape orientation */
	#pleaserotateblock {
		display:flex!important;
		z-index: 999;
		position: relative;
	}
	#welcomeContent {
		display:none;
	}
	#pleaserotatecontainer {
		z-index: 999;
		position: absolute;
		top: 0;
		/* height: calc(100vh - 82px); */
		height: calc(100%);
		left: 0;
		width: 100%;
	}
}  

#welcomeContent {
	z-index: 2;
	position: relative;
}
#loadingContent {
	z-index: 2;
	position: relative;

}


.f1hidden {
    display:none!important;
}

.disabledButton {
    pointer-events: none;
    opacity: 0.5;
}
.tabheadfade {
	opacity:0;
}

#console {
	text-align: left;
	position: absolute;
    top: 0em;
    left: 0;
	/* text-align: center; */
	max-width: 20%;
	min-width: 100px;
	z-index: 5;
}
.console {
    margin-left: 5%;
    background-color: wheat;
    /* margin: 30%; */
	font-size:0.8em;
    width: 100%;
	padding-top: 1px;
	z-index: 3;
}
.console_button {
	border:	2px solid rgb(0,0,0,0.3);
	margin: 2px;
	transition: 0.3s;
}



.consoleslider {
	width: -webkit-fill-available;
}

.consoleshrunk {
	max-height: 0em!important;
}
.consoleexpander {
	overflow: hidden;
	max-height: 55em;
}
.expandbutton{
	background-color: rgb(156, 135, 96);
}
#versionid {
	pointer-events: all;
	position: absolute;
    font-size: 0.9em;
	width: 6em;
	height: 3em;
	top: 0;
	z-index: 999;

    color:yellow;
	opacity:0.5;

}

.transparenttabblock {
	/* background-color: rgba(21,20,32,0.75)!important; */
	/* background: linear-gradient(to top, rgba(21,20,32,0.75) 0%, rgba(21,20,32,0.75) 66.66%, rgba(21,20,32,0) 100%); */
	/* background: linear-gradient(to top, rgba(21, 20, 32, 0.9) 0%, rgba(21, 20, 32, 0.75) 66.66%, rgba(21, 20, 32, 0) 100%)!important; */
	background: linear-gradient(to top, rgba(21, 20, 32, 0.99) 0%,rgba(21, 20, 32, 0.99) 30%, rgba(21, 20, 32, 0.0) 80.66%, rgba(21, 20, 32, 0) 100%)!important;
	pointer-events: none!important;
}

#f1nextbackbuttons {
	pointer-events: all;
}


#welcomeProgress::-webkit-progress-value {
    background-color: white!important;
}

progress::-moz-progress-bar {
	background-color: white!important;
}

/* ::-webkit-progress-value */

progress
{ 
	background-color: transparent;
}



#selectedLanguage {
	font-family: 'Titillium Web', sans-serif!important;
}

h1 {
	width: fit-content!important;
}

/* 
.testhtml {
	font-size: 20px!important;
} */

.tab.activeTab span {
    /* margin-top: 0.25rem; */
}

/* se layout */
.sebutton {
	font-size: 1rem!important;
    padding-top: 0.333rem!important;
    padding-bottom: 0.333rem!important;
}

.secolourpicker {
	height: 2.2rem!important;
}

.seminmaxheight {
	min-height: 287px!important;
	max-height: 287px!important;
	/* min-height: 290px!important;
	max-height: 290px!important; */
}

.selayer1ins {
	min-height: 193px!important;
	max-height: 193px!important;
}
.selayer2ins {
	min-height: 124px!important;
	max-height: 124px!important;
}
.selayer3ins {
	min-height: 124px!important;
	max-height: 124px!important;
}

.sefinishblock {
	margin-top: 5.63rem!important;
}

.nonsefinishblock {
	margin-top: 9.05rem!important;
}

.buttonblock {
	margin-top: 1rem!important;
}

.buttonblockaltblock {
	margin-top: 0.5rem!important;
}

.reducetopmargin {
    margin-top: .0!important;
}